.adduser-card {
  background-color: #fff;
  padding: 40px 50px;
  width: 30%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.view-card {
  background-color: #fff;
  padding: 40px 50px;
  width: 70%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}
.addusercard-title {
  font-size: 20px;
  /* color: #712cf9; */
}
.user-btn {
  background-color: #712cf9;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
}
