@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    background-color: white;
  }

  .navbar-toggler {
    order: -1;
  }
  .sidemenu {
    background-color: #f8f9fa;
    width: 150px;
    height: 100vh;
  }
  .user-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .sider-menu li {
    font-size: inherit;
  }
  .adduser-card {
    width: 100% !important;
    padding: 40%;
  }
  .view-card {
    width: 100% !important;
  }
  .crumb-title {
    font-size: 18px !important;
    font-weight: 700;
  }
  .crumb-link {
    font-size: 16px !important;
  }
  .std-course-card {
    width: 100% !important;
  }
  .inq{
    width: 100% !important;
  }
}
